{% extends 'base.html.twig' %}

{% block brand %}
    Download App :: Welcome, {{ user.username }}
{% endblock %}

{% block body %}
    <div class="col-md-11">
        <div class="panel panel-default">
            <div class="panel-heading">Failed downloads</div>
            <ul class="list-group">
                {% for download in downloads.failed %}
                    <li class="list-group-item">
                        <div class="collapsed" data-toggle="collapse" href="#collapse-{{ download.id }}" id="heading-{{ download.id }}">
                            {{ download|titleDownload }}
                            {% if (download.error) %}
                                <span class="pull-right text-danger">{{ download.error }}</span>{% endif %}
                        </div>
                        <div id="collapse-{{ download.id }}" class="collapse" aria-labelledby="heading-{{ download.id }}">
                            <div class="well preformatted">{{ download|formatDownload }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-1">
        <div class="panel panel-default">
            <div class="panel-heading">Stats</div>
            <ul class="list-group">
                <li class="list-group-item"><strong>Open scans:</strong> {{ stats.open.scans }}</li>
                <li class="list-group-item"><strong>Open downloads:</strong> {{ stats.open.downloads }}</li>
                <li class="list-group-item"><strong>Failed downloads:</strong> {{ stats.failed.downloads }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
